mark.hey{
  color: #087C91;
	background-color: #DACDFF;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
  font-family: impact;
}

/* Transition couleur au passage de la souris */
mark.hey:hover{
  color: #DACDFF;
	background-color: #087C91;
	font-size: 37px;
	transition: 0.8s all;
	visibility: visible;
}
body{
	background-color: #DACDFF;
	margin: 0px;
}

img.logo{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 7%;
}
img.logo:hover{
	width: 7.9%;
	transition: 0.5s;
}

img.code{
	width: 8%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
}
img.code:hover{
	opacity: 0;
	transition: 1s;
}

h3.troll{
	font-family: Comic sans ms;
  font-size: 25px;
	color: rgb(183, 111, 255);
	opacity: 0;
}
h3.troll:hover{
  opacity: 1;
	transition: 1s;
}

a.mail{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;

	font-size: 25px;
  font-family: comic sans ms;
	color: #000
}
a.mail:hover{
  font-size: 28px;
	transition: 0.4s;
	color: rgb(167, 4, 255);
	transition: 0.4s;
}

img.thumbnail{
  width: 70%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1.bdp{
  opacity: 0;
  font-size: 500px;
}

nav.menu ul li{
	display: inline-block;
  list-style-type: none;
}
nav.menu ul li a{
  color: #DACDFF;
  text-decoration: none;
  background-color: #087C91;
  padding: 12px;
  font-size: 22px;
  font-family: impact;
}
nav.menu ul li a:hover{
  color: #087C91;
  background-color: #DACDFF;
  transition: 0.4s;
  font-size: 24px;
}

h1.hide{
  opacity: 0;
  font-size: 10px;
}

